development:
    api_key: "xxxxx"
    api_secret: "xxxxx"
test:
    api_key: "xxxxx"
    api_secret: "xxxxx"
staging:
    api_key: "xxxxx"
    api_secret: "xxxxx"
production:
    api_key: "xxxxx"
    api_secret: "xxxxx"
