#forum-navigation {
    margin-top: 10px;
}

p.topic-title {
    margin-bottom: 0;
}

p.topic-meta {
    margin-top: 0;
}

a.forum-icon-link {
    > i {
        color: $text-color;
        margin-left: 5px;
        margin-right: 5px;
    }
}

@import "forum/forums";
@import "forum/topics";
@import "forum/posts";
