@import "cyborg/variables";

@import "bootstrap";

@import "cyborg/bootswatch";

body {
    //padding-bottom: 20px;
    background: image-url('patterns/burried.png') repeat;
}

.navbar {
    margin-bottom: 0;
}

a.icon-link {
    color: #bbb;
}

.container {
    .notice-container {
        margin-top: 10px;
    }
}

.thumbnail {
    background: transparent;
    border-color: #444;
}

.form-control {
    color: black;
}

p a.btn {
    margin-top: 5px;
}

.devise-link-list {
    margin-top: 5px;
}

ol.terms-sublist {
    list-style-type: lower-alpha;
}

img {
    &.img-responsive-centered {
        max-width: 100%;
        height: auto;
        display: block;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 10px;
    }

    &.img-responsive-thumbnail-centered {
        @extend .img-thumbnail;
        max-width: 100%;
        height: auto;
        display: block;
        margin-right: auto;
        margin-left: auto;
    }
}
