@import "cyborg/variables";

$pagination-bg: transparent;
$pagination-hover-bg: rgba(238, 238, 238, 0.1);
$pagination-hover-border: $pagination-border;
$pagination-disabled-bg: transparent;

$code-color: #0c0;
$code-bg: $kbd-bg;

@import "bootstrap";

@import "cyborg/bootswatch";

$footer-height: 90px;
$footer-narrow-height: 120px;

@mixin box-shadow($values) {
    -webkit-box-shadow: $values;
    -moz-box-shadow: $values;
    box-shadow: $values;
}

html, body {
    height: 100%;
}

body {
    background: image-url('wow/background_5.4_2560x1600.jpg') no-repeat top center fixed #000;
    background-size: cover;
}

.clear {
    clear: both;
}

#site-header {
    margin-bottom: 10px;
}

.header-horde-logo-container {
    @extend .text-center;
    max-height: 100px;
    margin-top: 10px;
    margin-bottom: 5px;
    vertical-align: middle;
}

.header-horde-logo {
    max-height: 100px;
    margin-right: auto;
    margin-left: auto;
}

#main-header-column {
    background: image-url('wow/logo_horde_355.png') no-repeat, image-url('wow/logo_horde_355.png') no-repeat;
    background-position: left center, right center;
    background-size: contain;
}

#content-wrap {
    min-height: 100%;
    height: auto;
    margin-bottom: (-$footer-height);
    padding-bottom: $footer-height;
    background: rgba(0, 0, 0, 0.9);
    @include box-shadow(0 0 30px 0 black);
}

#footer-wrap {
    min-height: $footer-height;
}

.navbar {
    margin-bottom: 0;
}

table, .table {
    background: none;

    > thead > tr > th {
        vertical-align: bottom;
    }

    > tbody > tr > td {
        vertical-align: middle;
    }
}

.btn {
    margin-top: 5px;
}

.input-group-btn > .btn {
    margin-top: 0;
}

a.icon-link {
    color: #bbb;

    &:hover, &:focus {
        color: white;
    }
}

.container {
    .notice-container {
        margin-top: 10px;
    }
}

.thumbnail {
    background: rgba(0, 0, 0, 0.5);
    border-color: #444;
}

.form-control {
    color: black;
}

.devise-link-list {
    margin-top: 5px;
}

ol.terms-sublist {
    list-style-type: lower-alpha;
}

.text-pink {
    color: #ff69b4;
}

img {
    &.img-thumbnail {
        border-color: $text-color;
    }

    &.img-responsive-centered {
        max-width: 100%;
        height: auto;
        display: block;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 10px;
    }

    &.img-responsive-thumbnail-centered {
        @extend .img-thumbnail;
        max-width: 100%;
        height: auto;
        display: block;
        margin-right: auto;
        margin-left: auto;
    }

    &.avatar-16, &.avatar-tiny {
        height: 16px;

        &.img-rounded {
            border-radius: 4px;
        }
    }

    &.avatar-18 {
        height: 18px;
    }

    &.avatar-32, &.avatar-small {
        height: 32px;
    }

    &.avatar-48, &.avatar-medium {
        height: 48px;
    }

    &.avatar-64, &.avatar-large {
        height: 64px;
    }

    &.avatar-128, &.avatar-huge {
        height: 128px;
    }

    &.logo-image {
        width: 400px;
        //margin-right: 5px;
        border-radius: 10px;
    }
}

textarea.markdown-box {
    font-family: Consolas, 'Ubuntu Mono', 'Source Code Pro', 'Lucida Console', 'Courier New', monospace;
    margin-top: 5px;
}

.tab-content > .tab-pane > p:first-child {
    padding-top: 10px;
}

@media (min-width: 0) {
    #footer-copy-text, #footer-social-text {
        text-align: center;
    }

    #content-wrap {
        margin-bottom: (-$footer-narrow-height);
        padding-bottom: $footer-narrow-height;
    }

    #footer-wrap {
        min-height: $footer-narrow-height;
    }
}

@media (min-width: 600px) {
    #footer-copy-text {
        float: left;
    }

    #footer-social-text {
        float: right;
    }

    #content-wrap {
        margin-bottom: (-$footer-height);
        padding-bottom: $footer-height;
    }

    #footer-wrap {
        min-height: $footer-height;
    }
}

@media (max-width: 400px) {
    #main-header-column {
        background: none;
    }
}

@media (max-width: 500px) {
    img.logo-image {
        width: 100%;
        margin-bottom: 10px;
    }
}

@media (min-width: 500px) and (max-width: $screen-xs-max) {
    img.logo-image {
        width: 256px;
    }
}

@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    img.logo-image {
        width: 320px;
    }
}

@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
    img.logo-image {
        width: 320px;
    }
}

@import "posts";
@import "comments";
@import "users";
@import "epgp";
@import "forum";
@import "social";
@import "wow/base";
@import "wowprogress/base";
